[submodule "Shapes/Libraries/verlet"]
	path = Shapes/Libraries/verlet
	url = https://github.com/Devination/VerletKha.git
[submodule "Collision/Libraries/verlet"]
	path = Collision/Libraries/verlet
	url = https://github.com/Devination/VerletKha.git
[submodule "PolgonCollision/Libraries/verlet"]
	path = PolgonCollision/Libraries/verlet
	url = https://github.com/Devination/VerletKha.git
[submodule "PolygonCollision/Libraries/verlet"]
	path = PolygonCollision/Libraries/verlet
	url = https://github.com/Devination/VerletKha.git
[submodule "Forces/Libraries/verlet"]
	path = Forces/Libraries/verlet
	url = https://github.com/Devination/VerletKha.git
