[submodule "Shapes/Libraries/verlet"]
	path = Shapes/Libraries/verlet
	url = https://github.com/Devination/VerletKha.git
[submodule "Collision/Libraries/verlet"]
	path = Collision/Libraries/verlet
	url = https://github.com/Devination/VerletKha.git
